
  * {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 4px;

    
    
  }
  #root {
    /* background: url(https://images.unsplash.com/photo-1623593721974-f39b78528626?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);  */
    background-repeat: no-repeat;
    background-size:  auto;
    /* background-size: 100vw 100vh;  */
    background-repeat: repeat-y;
}
  /*Layout*/
  body {
    margin: 0px;
    margin-top: ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* height: 100vh; */
}
    
  
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
  }

  header {
    grid-area: header;
    background-color: #fff;
    color: #6d1f36;
    justify-content: center;
  }

  main {
    grid-area: main;
    height: 55vh;
    margin-top: 30px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px !important;
    
  }
  .div.row {
    background-color: rgb(209, 205, 192);;
  }


  .row .product {
    align-items: flex-start;
  }

  .col-image {
    flex: 1 1 50rem;
    height: 50%;
    left: 50%;
    top: 50%;
    max-height: 100%;
    max-width: 29rem;
  }

  .col-description .col-actions {
    flex: 2 1 25rem;
  }

  .col-actions {
    width: 100%;
    height: 100%;
  }

  /*common area*/

  a {
    text-decoration: none;
    padding-left: 0px;
  }


  ul {
    margin-left: 50px;
    margin: 0;
    list-style-type: none;
    position: relative;
    margin-left: -70px;
  }

  li {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 30px;
  }
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  h2 {
    font-size: 1.9rem;
    color: #6d1f36;
  }
::before {
  position: relative;
margin-right: 4px;
}
  /*header*/

  header a {
    color: #6d1f36;
    padding: 16px;
    margin-left: 15px;
  }
  a.brand {
    color: #6d1f36;
    font-weight: bold;
    font-size: 48px;
  }
  

  .badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: 0.2rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .row.center {
    justify-content: center;
    overflow-y: scroll;
    height: 600px;
  }
  ::-webkit-scrollbar {
    display: none;
}
  .row.top {
    align-items: flex-start;
  }
  .col-1 {
    flex: 5 1 25rem;
    display: inline-block;
    width: 90%;
    margin-right: 315px;

    
    
  }
  .col-2 {
    flex: 2 1 50rem;
  }
  .min-30 {
    min-width: 30rem;
  }
  
  /* Image */
  
  img {
    border-radius: 0.5rem;
    width: 500px;
    height: 105px;
  }
  img.small {
    max-width: 11rem;
    width: 100%;
    margin-left: 60px;

  }
  img.medium {
    max-width: 29rem;
    max-height: 29rem;
    width: 100%;
    text-align: center;
    margin-left: 51px;

  }
  img.large {
    width: 500px !important;
    height: 592px;
    margin-right: 500px;
  }
  
  /* Card */
  .card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #7ba0be;
    border-radius: 0.5rem;
    margin: 1rem;
    width: 200x;
    height: 247px;
    border: solid;
    
  }

  .card-body {
    padding: 3rem;
    border-style: none;
    overflow:scroll
  }
  .card-body > * {
    margin-bottom: 0.5rem;
    text-align: center;
    height: 6px;
  }
  .productcard {
    background-color: #7ba0be;
    width: 500px;
    height: 585px;
    border-style: solid;
    text-align: center;
    margin-right: 900px !important;
  }
  .price {
    font-size: 2.5rem;
    margin-top: 15px;
  }
  /* Rating */
  .rating span {
    color: #f0c040;
    margin: 0.1rem;
    font-size: 22px;
  }
  .rating span:last-child {
    color: #404040;
  }
  /* Alert */
  .loading {
    display: block !important;
  }
  .success {
    color: #2ee02e;
  }
  .danger {
    color: #a02020;
  }
  .alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }
  .alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
  }
  .alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
  }
  .alert-success {
    color: #20a020;
    background-color: #eeffe0;
  }
  /* Form */
  .form {
    max-width: 35rem;
    margin: 0 auto;
  }
  .form > div {
    display: flex;
    flex-direction: column;
    margin: 0rem;
  }
  .form label {
    margin: 1rem 0;
  }
  /* Dropdown */
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 22rem;
    padding: 1rem;
    z-index: 1;
    background-color: #dadada;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    color:#6d1f36
  }

  /* Checkout Steps */
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
  }
  .checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000;
  }
  /* Table */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
  }
  .table td,
  .table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: rgb(211, 209, 209);
  }
  .table button {
    margin: 0 0.2rem;

  }

  .table button:hover {
    color: white;
    background-color: crimson;
    
  }
  .primary:hover {
    background-color: rgb(45, 150, 59);
    
  }



.card:hover{
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
  }

  header a:hover {
    color: #c56126;
    font-weight: 400;
  
}

.learnName {
  height: 400px !important;
}

p {
  font-size: 25px;
  margin-top: 40px;
}

a {
  font-size: 29px;
  text-align: center;
  position: relative;
  
  
}

h3 {
  font-size: 26px;
}

.example::-webkit-scrollbar {
  display: none;
}
.fa-shopping-cart {
  font-size: 26px;
}

/* Footer */
.Footer-Container {
  position: fixed;
  max-height: 450px;
  

}

.MuiBox-root-2{
  text-align:center;
  position: relative;
}

.MuiBox-root-4, .MuiBox-root-12, .MuiBox-root-18 {
  font-size: 27px;
  font-weight: 600;
  text-align: center !important;
}
.MuiBox-root-6, .MuiBox-root-8, .MuiBox-root-10, .MuiBox-root-14, .MuiBox-root-16, .MuiBox-root-20, .MuiBox-root-22, .MuiBox-root-24 {
  text-align: center !important;
}
.MuiGrid-item {
  text-align: center !important;
}

@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-rows: 11rem 1fr 5rem;
  }
}

.coffeelogo {
  height: 49px !important;
  margin: auto -11px;
  margin-top: -1px;
}
.products {
  color: #6d1f36;
  text-decoration: underline;
  text-align: center;
  font-size: 47px;
  -webkit-text-stroke-width: .9px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  background-color: #7ba0be4b;
  margin-top: -25px;
  
  
}

.row img {
  width: 8rem;
  vertical-align: top;
  
}
.leftnav {
  position: absolute;
  top: 11px; /* assign the correct value of the top line height */
  left: 245px;

}


@media only screen and (max-width: 600) {
  .leftnav {
    position: relative;
    

    
  }
}
@media only screen and (max-width: 600) {
  .row {
    position: relative;
    margin-left: 250px;
    

    
  }
}

.cartBG {
  background-color: rgb(209, 205, 192);

}

.profile {
  background-color: #7ba0be81;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -500px;
  margin-left: -260px;
  width: 500px;
  height: 500px;
  border-style: solid;

}

.alart-danger {
  margin-top: 60px;
}