.text-block, .Wrap-1 {
    border-style: solid;
    background-color: rgb(209, 205, 192);
    width: 500px;
    text-align: center;
}
.story {
    position: relative;
    left: 80%;
    top: 500px;
    transform: translate(-50%, -50%);
}